.available_series_menu{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,.15);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: -100vw;
  transition: all ease 500ms;
}

.available_series_menu_disabled{
  left: 0;
}

.post{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.post_idea{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post_subidea{
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 20px;
}

.post_subidea_biblical_quote{
  font-style: italic;
  font-weight: 600;
  margin: 0 0 0 40px;
}
.post_subidea_biblical_quote::before{
  content: "\"";
}
.post_subidea_biblical_quote::after{
  content: "\"";
}
.post_subidea_soft_quote{
  font-style: italic;
}

.post_subidea_biblically_justified_idea{  
  flex-direction: row;
}

.biblical_references_container{
  display: flex;
  margin: 5px 0 0 0px;
  gap: 5px;
}
.biblical_reference{
  background: #f0f0f0;
  padding: 4px 8px;
  font-size: 14px;
}

.quote_reference{
  background: #f0f0f0;
  padding: 4px 8px;
  font-size: 14px;
}
.quote_references_container{
  display: flex;
  margin: 0 0 0 40px;
}

.quote_reference{
  background: #f0f0f0;
  padding: 4px 8px;
  font-size: 14px;
}

.strong_phrase{
  color: rgb(255, 119, 0) !important;
}