.series_menu{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,.15);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: -100vw;
  transition: all ease 500ms;
  overflow-x: hidden;
  padding: 50px 15px 15px 15px;
}

.series_menu_active{
  left: 0;
}