.series_menu_controls {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50px;
  z-index: 20000;
  position: fixed;
  top: 0;
  background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
  padding: 10px 0;
}

.selected_post_items_container{

  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 0 8px;
}

.selected_post_item{
  height: 8px;
  width: 8px;
  background: #000;
  border-radius: 20px;
  cursor: pointer;
}

.selected_post_item_selected{
  height: 10px;
  width: 10px;
  background: #ff0000 !important;
}