.series_menu_controls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: var(--small_button_dimmension);
  z-index: 10000;
  position: fixed;

}

.selected_post_items_container{

  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding: 0 8px;
}

.selected_post_item{
  height: 8px;
  width: 8px;
  background: #000;
  border-radius: 20px;
  cursor: pointer;
}

.selected_post_item_selected{
  height: 10px;
  width: 10px;
  background: #ff0000 !important;
}