.series_menu{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,.15);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: -100vw;
  transition: all ease 500ms;
  overflow-x: hidden;
  padding: 50px 15px 15px 15px;
}

.series_menu_active{
  left: 0;
}





.series_item{

}
.subseries_item{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.subseries_item_post{
  display: flex;
  height: 50px;
  background: #fff;
  margin: 0 15px 0 40px;
  padding: 5px 8px 8px 8px;
  max-width: 300px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.35);
}






.series_category_heading{
  font-weight: 900;
  height: 20px;
}
.series_category_series_heading{
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  height: 20px;
}
.series_category_series_article_heading{
  font-weight: 600;
  font-size: 14px;
  height: 20px;
  width: 80%;

}
.series_category_series_article_heading_button{
  align-self: self-end;
  background: #000;
  border-radius: 0;
  height: 20px;
  width: 20%;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  margin: 0 0 0 auto;
}