.series_menu{
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  z-index: 12000;
  top: 0;
  left: -100vw;
  transition: all ease 500ms;
  overflow-x: hidden;
  padding: 65px 15px 15px 15px;
}

.series_menu_active{
  left: 0;
}





.series_item{

}
.subseries_item{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subseries_item_post{
  display: flex;
  height: 95px;
  gap: 10px;
  background: #f0f0f0;
  margin: 0 15px 0 40px;
  padding: 10px;
  max-width: 300px;
}






.series_category_heading{
  font-weight: 900;
  height: 20px;
}
.series_category_series_heading{
  margin: 10px 0 5px 20px;
  font-weight: 600;
  font-size: 14px;
  height: 20px;
}
.series_category_series_article_info_container{
   display: flex;
   gap: 10px;
   flex-direction: column;
  width: 80%;
}
.series_category_series_article_heading{
  font-weight: 600;
  font-size: 14px;
}
.series_category_series_article_date{
   font-size: 14px;
   color: #444;
   margin-top: auto;
}
.series_category_series_article_heading_button{
  align-self: self-end;
  background: #000;
  border-radius: 0;
  height: 25px;
  width: 80px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  margin: 0 0 0 auto;
}