.ai_chat{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0px 0px 0px;
  max-width: 600px;
  
}

.ai_chat_message{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #f0f0f0;
}

.user{
  width: 80%;
  margin-left: auto;
  background: #f0f0f0;
}

.assistant{
  width: 80%;
  background: #ccc;
  background: #fff;
  border: solid 1px #000;
}

.ai_chat_message_role_and_time_container{
display: flex;

}
.ai_chat_message_role{

  color: #777;
}
.ai_chat_message_time{
margin-left: auto;
  color: #777;
}

.ai_chat_message_buttons_container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.ai_chat_message_button{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   font-size: 13px;
   font-family: inherit;
   background: #000;
   color: #fff;
   height: 30px;
   width: 90px;
   margin-left: auto;
}