.ai_chat_container{
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  background: #fafafa;
  border-left: solid 1px #eee;
}

.background_image {
  position: relative; 
  top: 0;
  left: 0;
  height: 100%; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 360px;
}

.page{
   display: flex;
  width: 100vw !important;
  height: 100dvh !important;
  margin: auto;
}

.background_image>img {}

.pitch_container {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
}

.pitch_text {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  padding: 15px 12px 12px 12px;
  margin: 0 15px;
  gap: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  max-width: 100%;
}

.pitch_text>h1 {
  font-size: 27px;
  line-height: 20px;
  margin-bottom: 5px;
}

.pitch_text>p {
  line-height: 25px;
  font-size: 14px;
}

.key_idea{
  height: 19px;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  background: rgba(255, 255, 255, .75);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  /* border-radius: 4px; */
  padding: 3px 6px 1px 6px;
  font-weight: 700;
}


.action_button{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   /* width: 80px; */
   background: #000;
   color: white;
   text-decoration: none;
   cursor: pointer;
}

@media screen and (max-width: 400px) {}