.page {
  display: block;
  /* min-height: 600px;
  min-width: 600px;
  width: 500px; */
  margin: 0 auto 80px auto;
  padding: 15px 15px 15px 15px !important;
}



@media screen and (max-width: 400px) {
  .page {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    /* width: 100%; */
    max-width: 100%;
    overflow: hidden;
  }
}