.main_menu_item {
  border: sold 1px red;
  display: flex;
  gap: 10px;
  max-width: 400px;
}

.main_menu_item_icon_container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background: #eee;
}
.main_menu_item_icon_container_selected {
  
}

.main_menu_item_icon_container>img {
  height: 110%;
}

.main_menu_item_data_card {
  width: 100%;
  padding: 10px 10px 10px 10px;
  background: #f0f0f0;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main_menu_item_data_card_selected {
  background: #fff;
}

.main_menu_item_data_card_heading_indicator_container {
  display: flex;
  align-items: center;
  /* border: solid 1px red; */
}

.main_menu_item_data_card_heading {
  font-size: 17px;
}

.main_menu_item_status_indicator_outer_ring {
  display: none;
}
.main_menu_item_status_indicator_outer_ring_selected {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 15px;
  width: 15px;
  padding: 1.5px;
  border-radius: 30px;
  border: solid 3px #ddd;
}

.main_menu_item_status_indicator {
  background: none;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

.selected {
  background: #444;
}

.main_menu_item_data_card_message_button_container {
  display: flex;
  gap: 5px;
  margin-top: auto;
  /* border: solid 1px red; */
  height: 100%;
}

.main_menu_item_data_card_message {
  font-size: 13px;
  margin-top: auto;
  width: 100%;
}
.main_menu_item_data_card_message_selected {
  
}


.main_menu_item_data_card_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  margin-top: auto;
  background: #000;
  color: #fff;
  text-decoration: none;

}
.main_menu_item_data_card_button_selected {
  
}