.main_menu{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,.75);
  background: #fff;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: -100vw;
  transition: all ease 1000ms;
}

.main_menu_active{
  left: 0;
  position: sticky;
}

.main_menu_heading{
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin: 5px 0 0 0;
}

.main_menu_link_container{
  margin: 55px 0 0 0;
  height: 100%;
  width: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all ease 1000ms;
  gap: 20px;
}

@media screen and (max-width:400px) {
  
}