.main_menu_item {
  border: sold 1px red;
  display: flex;
  gap: 7px;
}

.main_menu_item_icon_container {
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .35);
}

.main_menu_item_icon_container>img {
  height: 110%;
}

.main_menu_item_data_card {
  width: 100%;
  background: #fff;
  padding: 6px 10px 10px 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .35);
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main_menu_item_data_card_heading_indicator_container {
  display: flex;
  align-items: center;
  /* border: solid 1px red; */
}

.main_menu_item_data_card_heading {
  font-size: 18px;
}

.main_menu_item_status_indicator_outer_ring {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 15px;
  width: 15px;
  padding: 1.5px;
  border-radius: 30px;
  border: solid 2px #000;
}

.main_menu_item_status_indicator {
  background: none;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

.selected {
  background: #000;
}

.main_menu_item_data_card_message_button_container {
  display: flex;
  gap: 5px;
  margin-top: auto;
  /* border: solid 1px red; */
  height: 100%;
}

.main_menu_item_data_card_message {
  font-size: 13px;
  margin-top: auto;

}

.main_menu_item_data_card_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 25px;
  margin-top: auto;
  background: #000;
  color: #fff;
  text-decoration: none;

}