.main_menu{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,.75);
  background: #fff;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: -100vw;
  transition: all ease 500ms;
}

.main_menu_active{
  left: 0;
  position: sticky;
}

.main_menu_heading{
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin: 5px 0 0 0;
}

.main_menu_link_container{
  margin: 15px 0 0 0;
  height: 100%;
  width: 135px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 100ms;
  gap: 10px;
}
.main_menu_main_link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #000;
  padding: 0 0 3px 0;
  text-decoration: none;
}

@media screen and (max-width:400px) {
  
}