.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background: #000;
  height:  var(--main_button_dimmension);
  width:  var(--main_button_dimmension);
  z-index: 10000;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: all ease 1000ms;
}

.menu_button_active {
  background: #fd0000;
}

.menu_button:hover {
  transform: scale(1.05);
}

.menu_button_bar {
  display: block;
  width: 50%;
  height: 7%;
  border-radius: 2px;
  background: #fff;
  transition: all 1000ms ease;
  top: 0px;
}

.menu_button_top_bar_active {
  transform: rotate(45deg);
}

.menu_button_bottom_bar_active {
  transform: rotate(-45deg);
}

.menu_button_top_bar_positioned {
  top: 2.5px;
}

.menu_button_bottom_bar_positioned {
  bottom: 2.5px;
}


@media screen and (max-width:400px) {
  .menu_button {
    height: var(--main_button_dimmension);
    width: var(--main_button_dimmension);
  }

  .menu_button_top_bar_positioned {
    top: 3.5px;
  }

  .menu_button_bottom_bar_positioned {
    top: -3.5px;
  }
}