.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;

  background: #000;
  height:  var(--main_button_dimmension);
  width:  var(--main_button_dimmension);
  z-index: 10000;

  transition: all ease 500ms;

  position: fixed;
  bottom: 20px;
  border: solid 1px #fff;
  right: calc(50% - var(--main_button_dimmension) / 2);
  
 box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

.menu_button_active {
  background: #fd0000;
}

.menu_button:hover {
  transform: scale(1.05);
}

.menu_button_bar {
  display: block;
  width: 50%;
  height: 7%;
  border-radius: 2px;
  background: #fff;
  transition: all 200ms ease;
  top: 0px;
}

.menu_button_top_bar_active {
  transform: rotate(45deg);
}

.menu_button_bottom_bar_active {
  transform: rotate(-45deg);
}

.menu_button_top_bar_positioned {
  top: 2.5px;
}

.menu_button_bottom_bar_positioned {
  bottom: 2.5px;
}


@media screen and (max-width:400px) {
  .menu_button {
    height: var(--main_button_dimmension);
    width: var(--main_button_dimmension);
  }

  .menu_button_top_bar_positioned {
    top: 5.1px;
  }

  .menu_button_bottom_bar_positioned {
    top: -3.3px;
  }
}