.page_menu{
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: -100vw;
  transition: all ease 100ms;
}

.page_menu_active{
  left: 0;
}


@media screen and (max-width:400px) {
  
}