:root {
   font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   scroll-behavior: smooth;
   font-size: 15px;

   --small_button_dimmension: 15px;
   --main_button_dimmension: 30px;
}

body {
   margin: auto;
}

* {
   margin: 0;
   padding: 0;
   position: relative;
   box-sizing: border-box;
}

button {
   font-family: inherit;
}

@media screen and (max-width:400px) {
   :root {
      --small_button_dimmension: 25px;
      --main_button_dimmension: 40px;
   }
}